/* Root Variables */
:root {
    --main-hue: 208;
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: rgb(230, 55, 84);
    --main-color-hover: rgb(189, 40, 65);
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --light-text-color: #9ca7b6;
    --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
    --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
    --input-text: #8c9aaf;
    --light-main-color: hsl(var(--main-hue), 91%, 55%);
    --wave-color-light: #fff; /* Light mode color */
    --wave-color-dark: #2b2a2f; /* Dark mode color */
    --svg-filter: brightness(0) invert(1);
    --circle-cx: 70px;
    --circle-cy: 70px;
    --circle-r: 70px;
}
.dark-mode {
    --bg-color: #2b2a2f;
    --text-color: #fff;
    --main-color: #04c2c9;
    --white-color: #fff;
    --shadow-color: rgba(255, 255, 255, 0.2);
    --main-color-hover: rgb(28, 155, 160);
    --svg-filter: none;
}
/* Base Styles */
/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
body, body * {
    transition: background-color 1s ease, color 1s ease, fill 1s ease, border-color 1s ease, filter 1s ease;
}
.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 9999;
}
#svg{
    height: 150px;
    width: 150px;
    stroke: #fff;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 4s ease;
}
@keyframes draw{
    0%{
        stroke-dashoffset: 4500;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
.logo-name{
    color: #fff;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow: hidden;
}

/* Home Section */
.window-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46.5%;
    overflow: hidden;
    z-index: 10;
}

#shooting-stars {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/bg.jpeg");
    background-position-x: center;
    background-size: cover;
    overflow: hidden;
}

#shooting-stars .stars {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 
        0 0 5px rgba(255, 255, 255, 0.3),
        0 0 10px rgba(255, 255, 255, 0.3),
        0 0 25px rgba(255, 255, 255, 0.5),
        0 0 30px rgba(255, 255, 255, 0.7);
    animation: animate 3s linear infinite;
}
#shooting-stars .stars:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}
#shooting-stars .stars:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
#shooting-stars .stars:nth-child(3){
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
#shooting-stars .stars:nth-child(4){
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
#shooting-stars .stars:nth-child(5){
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
#shooting-stars .stars:nth-child(6){
    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
#shooting-stars .stars:nth-child(7){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
#shooting-stars .stars:nth-child(8){
    top: 0px;
    right: 900px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
#shooting-stars .stars:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
#shooting-stars .stars:nth-child(10){
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}
#shooting-stars .stars::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 0.3;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

/* Centered Text */
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
    z-index: 100;
}

.centered-text h1, h2, p {
    font-size: clamp(1rem, 2vw, 3rem);
}

.centered-text h1 {
    font-family: 'Space Mono', monospace;
    color: rgb(230, 55, 84);
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin-top: 15%;
    margin-bottom: 0;
}

.centered-text h1:hover {
    cursor: pointer;
}

.centered-text h2 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    margin-bottom: -15%;
}

.centered-text p {
    font-weight: 400;
    margin: 20px 0 0;
    padding: 0;
    line-height: 1.8;
    margin-top: 0;
}

.centered-text .text-main {
    color: rgb(230, 55, 84);
    font-style: italic;
}

/* View Work Button */
.view-work-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.view-work-btn .arrow {
    color: white;
    font-size: 0.8rem;
    transition: transform 0.3s ease;
    vertical-align: middle;
    margin-left: 5px;
}

.view-work-btn:hover .arrow {
    transform: rotate(90deg);
}

.view-work-btn:hover {
    background-color: rgb(230, 55, 84);
    border: 2px solid rgb(230, 55, 84);
}

/* Header */
#main-header {
    background-color: #1b242f;
    border-bottom: 3px solid #04c2c9;
    height: 50px;
    width: 100%;
    z-index: 99;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.5s;
    padding: 0 20px;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.hidden-header {
    top: -100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    text-transform: uppercase;
}

nav ul li a:hover, nav ul li a.active {
    color: rgb(230, 55, 84);
}

#darkMode-icon {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-right: 50px;
    transition: .5s ease;
}

#darkMode-icon:hover {
    color: var(--main-color);
}

/* Social Icons */
.social-icons {
    margin-top: 20px;
}

.social-icons a i {
    color: white;
    font-size: 1.5rem;
    margin: 0 15px;
    transition: color 0.3s;
}

.social-icons a i:hover {
    color: rgb(230, 55, 84);
}

/* Sections */
section {
    padding: 10rem 7% 2rem;
}

#about, #portfolio, #contact {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    position: relative;
    width: 100%;
    background-color: var(--bg-color);
    overflow: hidden;
}

#about .text-header, #portfolio .text-header, #contact .text-header {
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 70px;
    position: relative;
    color: var(--text-color);
    text-align: center;
    width: 100%;
    margin-bottom: 70px;
}

#about .text-header::after, #portfolio .text-header::after, #contact .text-header::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 5%;
    height: 5px;
    background-color: var(--main-color);
}
#portfolio .text-header::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%);
    width: 15%;
    height: 1px;
    background-color: #000;
}
#contact .text-header-contact{
    align-items: center;
    position: relative;
    width: 100%;
}
#contact .text-header-contact::after{
    content: '';
    position: absolute;
    left: 40px;
    bottom: 0px;
    transform: translateX(-50%);
    width: 50%;
    height: 5px;
    background-color: var(--main-color);
}
#contact .text-header-contact::before{
    content: '';
    position: absolute;
    left: 100px;
    bottom: 2px;
    transform: translateX(-50%);
    width: 60%;
    height: 1px;
    background-color: #000;
}
#about{
    min-height: 100vh;
    overflow: hidden;
}
.about-container{
    width: 100%;
    padding: 50px 8%;
}
.imageSection{
    grid-area: imageSect;
}
.infoSection{
    grid-area: infoSect;
    margin-bottom: 0;
}
.skillSection{
    grid-area: skillSect;
    margin-top: 0;
}
.about-container .about-contents {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas:
        'imageSect infoSect'
        'skillSect skillSect';
}
.about-contents .imageSection{
    position: relative;
    min-width: 300px;
    height: 650px;
}
.imageSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
    border-radius: 10px;
}
.about-contents .imageSection::after{
    position: absolute;
    content: '';
    width: 85%;
    height: 70%;
    outline: 3px solid var(--main-color);
    top: 150px;
    left: 17px;
    z-index: 1;
    border-radius: 10px;
}
.infoSection h1{
    font-size: 30px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}
.infoSection h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #aaabb0;
}
.infoSection h1::after{
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0;
    background-color: var(--main-color);
}
.infoSection h2{
    font-family: helvetica;
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    padding: 14px 0 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.infoSection p{
    color: #5d5e61;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}
.infoSection .skill-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.infoSection .skill-icons i {
    font-size: 35px;
    margin-top: 10px;
    padding: 0 10px;
}
.skill-icons i:nth-child(n+4) {
    display: none;
}
.show-more {
    cursor: pointer;
    color: #007bff;
    margin-left: 10px;
    margin-top: 20px;
    font-family: sans-serif;
    display: inline-block;
    position: relative;
    text-decoration: underline;
}
.show-more::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #ffd89b, #007bff);
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
}
.show-more:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.show-more:hover{
    color: #00448d;
}
.infoHeader {
    grid-area: infoHeader;
}
.personalInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-bottom: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}
.personalInfo div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.personalInfo div span{
    color: #5d5e61;
    letter-spacing: 1px;
}
.infoSection a{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid transparent;
    color: var(--white-color);
    background-color: var(--main-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
.infoSection a:hover{
    border-color: var(--main-color);
    background-color: var(--white-color);
    color: var(--main-color);
}
.skillSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;
}
.skillSection .subject{
    font-size: 17px;
    font-weight: thin;
    color: #5d5e61;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.progress-bar{
    width: 100%;
    height: 16px;
    background-color: #2b2a2f;
    padding: 2px 3px;
    border-top: 2px solid #555;
    border-bottom: 2px solid #444;
    border-radius: 15px;
}
.progress-line{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #787cb5;
    box-shadow: -1px -1px 2px #222222,
                1px 1px 2px #111111;
    border-radius: 15px;
}
.progress-line::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    transform: translateX(-50%);
    color: #5d5e61;
    font-size: 17px;
}
.skillSection h2 {
    font-size: 30px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    width: 100%;
}

.skillSection h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #aaabb0;
}

.skillSection h2::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    top: calc(110% - 1px);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
}
.skill-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
}
.skill-container .card{
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
}
.skill-container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.skill-container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    stroke: #191919;
    transform: translate(5px,5px);
}
.skill-container .card .percent svg .colored-circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 6;
    stroke: #191919;
    transform: translate(5px,5px);
}
.skill-container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dot{
    position: absolute;
    inset: 1px;
    z-index: 5;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 2s linear forwards;
}
@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}
.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
.number h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 700;
    font-size: 2.5em;
}
.number h3 span{
    font-weight: 300;
    color: var(--text-color);
    font-size: 0.5em;
}
.number p{
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color);
}
#portfolio {
    padding: 50px 0;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}
.portfolio .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 40px; /* Adjust the gap between card-sets as needed */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding around the entire wrapper */
}
.portfolio .card-set {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.portfolio .container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.portfolio .card{
    width: 70px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 5px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,0.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    position: relative;
    filter: blur(1px);
}
.portfolio .card .description h4,
.portfolio .card .description .skill-text,
.portfolio .card .description .buttons,
.portfolio .card .description .next-card-arrow,
.portfolio .card .description .html-text,
.portfolio .card .description .css-text,
.portfolio .card .description .p-text,
.portfolio .card .description i {
    opacity: 0;
    transition: all 0.3s ease;
}
.portfolio .card .description .skill-text{
    padding: 10px;
    word-spacing: 10px;
}
.portfolio .card .description {
    position: absolute;
    top: 38%;
    left: 10%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-align: center;
}
.portfolio .card:hover .description {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.portfolio .card:hover .description h4,
.portfolio .card:hover .description .skill-text,
.portfolio .card:hover .description .buttons,
.portfolio .card:hover .description .next-card-arrow,
.portfolio .card:hover .description .html-text,
.portfolio .card:hover .description .css-text,
.portfolio .card:hover .description .p-text,
.portfolio .card:hover .description i{
    opacity: 1;
    transform: translateY(0);
}
.portfolio .card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.portfolio .card > .row > .icon{
    background: #223;
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 14px;
    transition: .3s;
}
.portfolio .card > .row > .icon:hover{
    background-color: var(--main-color);
}
.portfolio .card > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
.portfolio .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: 2rem;
    transition: background 0.3s ease;
}
.portfolio .description .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    opacity: 0;
}

.portfolio .description .btn {
    padding: 8px 12px;
    width: 170px;
    margin: 10px;
    border: 1px solid rgb(230, 55, 84);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    background-image: linear-gradient(to left, rgb(230, 55, 84) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s;
}
.portfolio .description .btn-github{
    background-image: linear-gradient(to left, #04c2c9 50%, transparent 50%);
    border: 1px solid #04c2c9;
}
.portfolio .description .p-text{
    opacity: 0;
    font-size: .9rem;
    text-transform: none;
}
.portfolio .description i{
    font-size: 50px;
    color: red;
    margin-top: 20px;
}
.portfolio .description i:hover{
    transform: scale(1.2);
    color: red;
}
.portfolio .description .btn-github:hover {
    background-position: right bottom;
    color: white;
}
.portfolio .description .btn:hover {
    background-position: left bottom;
}
.portfolio .card:hover::before {
    background: rgba(0, 0, 0, 0.7);
}
.portfolio .description h4 {
    font-size: 2.5rem; /* Adjust the size as needed */
    margin-bottom: 0.5rem;
}

.portfolio .description p {
    font-size: 1.2rem; /* Adjust the size as needed */
    color: #F0DB4F;
    text-transform: uppercase;
    font-weight: bold;
}
.portfolio .description .next-card-arrow {
    margin-right: 50px;
    opacity: 0;
    cursor: pointer;
    font-size: 3rem;
    vertical-align: middle;
    transition: 1s ease-in-out;
}
.portfolio .description .next-card-arrow:hover {
    color: var(--main-color);
}
.portfolio .description .html-text{
    color: #e34c26;
}
.portfolio .description .css-text{
    color: #264de4;
}
.portfolio .description .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}
.portfolio .description .icons a {
    color: white;
    margin: 0 0.5rem;
    font-size: 1.2rem; /* Adjust the size as needed */
    transition: color 0.3s;
}

.portfolio .description .icons a:hover {
    color: var(--main-color);
}
.portfolio input{
    display: none;
}
.portfolio input:checked + label{
    width: 600px;
    filter: blur(0px);
    cursor: default;
}
.card .slide-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire card */
    z-index: -1; /* Place the video behind other elements */
}
.portfolio input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.portfolio .card[for="c1"]{
    background-image: url(img/chococharm.png);
}
.portfolio .card[for="c2"]{
    background-image: url(img/chococharm2.png);
}
.portfolio .card[for="c3"]{
    background-image: url(img/chococharm3.png);
}
.portfolio .card[for="c4"]{
    background-image: url(img/website1.png);
}
.portfolio .card[for="c5"]{
    background-image: url(img/website2.png);
}
.portfolio .card[for="c6"]{
    background-image: url(img/website3.png);
}
.portfolio .card[for="c7"]{
    background-image: url(img/boxers1.png);
}
.portfolio .card[for="c8"]{
    background-image: url(img/boxers2.png);
}
.portfolio .card[for="c9"]{
    background-image: url(img/boxers3.png);
}
.portfolio .card[for="c11"]{
    background-image: url(img/future2.png);
}
.portfolio .card[for="c12"]{
    background-image: url(img/future3.png);
}
.portfolio .card[for="c14"]{
    background-image: url(img/tesla1.png);
}
.portfolio .card[for="c15"]{
    background-image: url(img/tesla2.png);
}
.portfolio .card video {
    transition: transform 0.3s ease;
}

.portfolio .card:hover video {
    transform: scale(1.1);
}
.nav-buttons {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 7.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    scroll-behavior: smooth;
}
.nav-buttons a{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #000;
    opacity: .75;
    transition: opacity ease 250ms;
}
.nav-buttons a:hover{
    opacity: 1;
}
.nav-buttons-phone {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 3.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.nav-buttons-phone a{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #000;
    opacity: .75;
    transition: opacity ease 250ms;
}
.nav-buttons-phone a:hover{
    opacity: 1;
}
.portfolio-item input{
    display: none;
}
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: 280px;
    margin-left: -100px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background: var(--main-color);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

#radio4:checked ~ .first {
    margin-left: -300%;
}
.slide {
    width: 100%;
    flex-shrink: 0;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 280px;
    margin-left: -100px;
    display: flex;
    justify-content: center;
}
.navigation-auto div{
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 30px;
}
#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: var(--main-color) !important;
}
.item img:nth-child(2){
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.5);
    pointer-events: none;
    clip-path: circle(100px at var(--zoom-x) var(--zoom-y));
    display: var(--zoom-show);
}
.item{
    --zoom-x: 50%;
    --zoom-y: 50%
    --zoom-show: none;
}


/* Contact Us */
#contact .container{
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#contact .container > div{
    grid-column: 1/2;
    grid-row: 1/2;
}
.left{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 65px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 3;
}
.contact-heading h1{
    font-weight: 600;
    color: var(--text-color);
    font-size: 3.5rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom: 1.2rem;
}
.contact-heading h1 span{
    color: var(--main-color);
}
.text{
    color: var(--light-text-color);
    line-height: 1.1;
    font-size: 1rem;
}
.text a{
    color: var(--main-color);
    transition: .3s;
    text-decoration: none;
}
.text a:hover{
    color: var(--main-color-hover);
    transition: .3s;
}
.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: hsla(var(--main-hue), 30%, 16.5%, 80%);
    opacity: 0;
}
.form-wrapper{
    max-width: 32rem;
}
.contact-form{
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}
.input-wrap{
    position: relative;
}
.input-wrap.w-100{
    grid-column: span 2;
}
.contact-input{
    width: 100%;
    background-color: var(--input-bg);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px hsla(var(--main-hue), 92%, 54%, 0.169);
    transition: .3s;
}
.contact-input:hover{
    background-color: var(--input-bg-hover);
}
.input-wrap label{
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--light-text-color);
    pointer-events: none;
    transition: .25s;
}
.input-wrap .icon{
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--input-text);
    font-size: 1.25rem;
    transition: .3s;
}
textarea.contact-input{
    resize: none;
    width: 100%;
    min-height: 150px;
}
textarea.contact-input ~ label{
    top: 1.2rem;
    transform: none;
}
textarea.contact-input ~ .icon{
    top: 1.3rem;
    transform: none;
}
.input-wrap.focus .contact-input{
    background-color: var(--bg-color);
    border: 2px solid var(--light-main-color);
    box-shadow: 0 0 0 5px hsla(var(--main-hue), 91%, 55%, 0.11);
}
.input-wrap.focus label{
    color: var(--light-main-color);
}
.input-wrap.focus .icon{
    color: var(--light-main-color);
}
.input-wrap.not-empty label{
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
}
.contact-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
}
.contact-buttons .btn{
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
    border: transparent;
}
.contact-buttons .btn:hover{
    background-color: var(--main-color-hover);
}
.contact-buttons .btn.upload{
    position: relative;
    background-color: var(--input-bg);
}
.contact-buttons .btn.upload span{
    color: var(--light-text-color);
}
.contact-buttons .btn.upload:hover{
    background-color: var(--input-bg-hover);
}
.contact-buttons .btn.upload input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: red;
    cursor: pointer;
    opacity: 0;
}
.right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    pointer-events: none;
    position: relative;
}
.image-wrapper{
    position: relative;
    grid-column: 2;
    overflow: hidden;
    transition: background-color 0.5s ease;
}
.image-wrapper .img{
    position: absolute;
    height: 130%;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s cubic-bezier(0.4, 0.1, 0.4, 1);
}
.image-wrapper::before,
.image-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 40%; /* Adjust the height of the blur effect */

}
.image-wrapper,
.wave-wrap,
.centered-text,
.project-info,
.skillSection,
.infoSection,
.imageSection {
    z-index: 2; /* Adjust this value as needed */
}
.wave-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background-color: var(--bg-color);
    filter: blur(0px);
    transition: 1s ease;
}
.image-wrapper,
.wave-wrap {
    transition: background-color 0.5s ease;
}
.wave-wrap svg{
    position: absolute;
    height: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%) scaleX(1);
    left: calc(100% - 2px);
    transform-origin: left;
    transition: 1s ease;
    z-index: 1;
}
#wave{
    fill: var(--bg-color);
    height: 100%;
}
.dashed-wave{
    position: absolute;
    z-index: 3;
    height: 130%;
    bottom: 60%;
    left: -28px;
    transform: translateY(50%);
}
#dashed-wave{
    fill: none;
    stroke: var(--input-text);
    stroke-width: 1px;
    stroke-dasharray: 6.5;
    opacity: .8;
}
/* Footer */
footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon{
    font-size: 1.5em;
}
footer .social_icon li,
footer .menu li{
    list-style: none;
}
footer .social_icon li a{
    font-style: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-style: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: .75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer span{
    color: var(--main-color);
}
footer .wave-footer{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
}
footer .wave-footer#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave-footer#wave2{
    z-index: 999;
    opacity: .5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave-footer#wave3{
    z-index: 1000;
    opacity: .2;
    bottom: 15px;
    animation: animateWave 4s linear infinite;
}
footer .wave-footer#wave4{
    z-index: 999;
    opacity: .7;
    bottom: 20px;
    animation: animateWave_02 4s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}



/* Dark Mode */
.transition{
    transition: 1s !important;
}
.dark-mode .background{
    opacity: 1;
    z-index: -1;
}
.dark-mode .image-wrapper .img{
    transform: translate(-50%, -50%) scale(1.7);
    transition: 1s ease;
    opacity: 0.5;
}
.dark-mode #dashed-wave{
    opacity: .3;
}
.dark-mode .wave-wrap svg{
    transform: translateY(-50%) scaleX(0);
    transition: 1s ease;
}
.dark-mode .wave-wrap{
    transform: scale(1.8);
    filter: blur(55px);
    transition: 1s ease;
}
.dark-mode .animated-radial-menu .menu .toggle{
    background: var(--bg-color);
    border-color: #fff;
    color: #fff;
}
.dark-mode .animated-radial-menu .menu .toggle:hover{
    background: var(--main-color);
    color: #000;
    border-color: var(--bg-color);
}
.dark-mode .animated-radial-menu .menu.active .toggle{
    background: var(--main-color);
    color: var(--bg-color);
    border-color: var(--bg-color);
}
.dark-mode .centered-text, .dark-mode footer {
    color: var(--text-color);
}
.dark-mode #darkMode-icon {
    content: '\e9d4'; /* bx-sun icon */
}
.dark-mode .skillSection .subject{
    color: var(--text-color);
}
.dark-mode .social-icons a:hover {
    color: var(--main-color);
}
.dark-mode .progress-line::after{
    color: var(--text-color);
}
.dark-mode .infoSection, .dark-mode .skillSection {
    color: var(--text-color);
}
.dark-mode .infoSection div span, .dark-mode .infoSection p{
    color: var(--text-color);
}
.dark-mode .personalInfo{
    border-color: var(--text-color);
}
.dark-mode .progress-bar {
    background-color: #444;
    border-top: 2px solid #555;
    border-bottom: 2px solid #333;
}
.dark-mode .infoSection a:hover{
    background-color: transparent;
}
.dark-mode .progress-line {
    background-color: var(--main-color);
}

/* For tablets and smaller laptops */
@media (max-width: 1024px) {
    .about-contents .imageSection{
        width: 65%;
    }
    .about-contents .imageSection::after{
        width: 77%;
        left: 8%;
    }
    .about-container .about-contents {
        grid-template-columns: 1fr;
        grid-template-areas:
            'imageSect'
            'infoSect'
            'skillSect';
    }
    .contact-heading{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        white-space: normal;
    }
    .text{
        font-size: 0.9rem;
    }
    .contact-form{
        display: grid;
        margin-top: 1.9rem;
        column-gap: 0.8rem;
        row-gap: 0.65rem;
    }
    .contact-input{
        border-radius: 17px;
        font-size: 0.87rem;
        padding: 1.5rem 1.2rem calc(0.75rem - 2px) 1.2rem;
    }
    .input-wrap label{
        font-size: .91rem;
        left: calc(1.2rem + 2px);
    }
    .input-wrap .icon{
        font-size: 1.1rem;
        right: calc(1.2rem + 2px);
    }
    textarea.contact-input ~ label{
        top: 1.2rem;
    }
    textarea.contact-input ~ .icon{
        top: 1.33rem;
    }
    .input-wrap.focus .contact-input{
        box-shadow: 0 0 0 3.5px hsla(var(--main-hue), 91%, 55%, 0.11);
    }
    .input-wrap.not-empty label{
        font-size: 0.61rem;
    }
    .contact-buttons{
        column-gap: .8rem;
        margin-top: 0.45rem;
    }
    .btn{
        padding: 1rem 1.5rem;
        font-size: .87rem;
    }
    .dashed-wave{
        bottom: 55%;
        left: -10px;
    }
    #dashed-wave{
        stroke-width: .7px;
        stroke-dasharray: 6;
    }
    .wave-wrap{
        transform: translateX(-10%);
    }
    .wave-wrap svg{
        height: calc(110% + 10px);
        transform: translate(-5%, -50%);
    }
    .imageSection, .infoSection, .skillSection {
        width: 100%;
    }

    .laptop-mockup, .phone-mockup {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .content {
        width: 90%;
    }

    .portfolio-item {
        flex-direction: column;
        align-items: center;
    }

    .project-info {
        order: -1;
        margin-top: 20px;
    }

    .skillSection {
        grid-template-columns: 1fr;
    }
    .portfolio .wrapper {
        grid-template-columns: 1fr; /* Change to 1 column */
    }
    .portfolio .card-set {
        flex-direction: column; /* Stack cards vertically */
        justify-content: center;
        align-items: center;
    }
}

/* For mobile phones */
@media (max-width: 768px) {
    .about-contents .imageSection{
        width: 100%;
    }
    .about-contents .imageSection::after{
        width: 83%;
        left: 4%;
    }
    .portfolio .wrapper {
        grid-template-columns: 1fr; /* Change to 1 column */
    }

    .portfolio .card-set {
        flex-direction: column; /* Stack cards vertically */
    }
    .centered-text h1, .centered-text h2, .centered-text p {
        font-size: clamp(1rem, 5vw, 2.5rem);
    }

    .view-work-btn {
        font-size: 1rem;
        padding: 8px 16px;
    }

    nav ul li {
        margin: 0 10px;
    }

    .social-icons a {
        font-size: 1.2rem;
        margin: 0 10px;
    }

    .about-container {
        padding: 50px 4%;
    }

    .infoSection p, .skillSection .subject {
        font-size: 16px;
    }
    .skill-container {
        display: none;
    }
    .skill-container .card {
        width: 180px;
        height: 200px;
    }

    .skill-container .card .percent {
        width: 120px;
        height: 120px;
    }
    .left{
        padding: 50px 1.5rem 0;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .right{
        display: none;
    }
    .skill-container .card .percent svg {
        width: 120px;
        height: 120px;
    }

    .number h3 {
        font-size: 2em;
    }

    .portfolio-item {
        margin-top: 20px;
    }

    .device-mockup {
        width: 90%;
    }

    .project-info {
        width: 100%;
        margin-top: 20px;
    }

    .footer {
        font-size: 0.8rem;
    }
}
@media (max-width: 476px) {
    .social-icons {
        display: flex;
    }
    .portfolio input:checked + label {
        width: 80%; /* Set the width of the checked card to 90% */
        margin: 0 auto 20px; /* Center the card with margin */
        display: block; /* Ensure the checked card is displayed */
        object-fit: cover;
        justify-content: center;
        align-items: center;
    }
    .portfolio input:not(:checked) + label {
        display: none; /* Hide the cards that are not checked */
    }
    .portfolio input:checked + label .description {
        position: relative; /* Use relative positioning */
        left: initial;
        top: initial;
        width: 90%; /* Full width */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50%;
    }
    .portfolio .card .row .icon{
        display: none;
    }
    .portfolio .card .description h4 {
        font-size: 1.8rem; /* Adjust heading size as needed */
    }

    .portfolio .card .description p {
        font-size: 0.9rem; /* Adjust paragraph size as needed */
    }

    .portfolio .card .description .buttons .btn {
        padding: 0.8rem 1rem; /* Adjust button padding as needed */
        font-size: 0.7rem; /* Adjust button font size as needed */
        width: 130px;
    }

    .portfolio .card .description .next-card-arrow {
        font-size: 2rem; /* Adjust arrow size as needed */
    }
    .portfolio input:checked + label .slide-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1; /* Ensure the video is behind the description */
    }
    #main-header nav ul li a{
        font-size: 13px;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
    }
    .about-container .about-contents {
        grid-template-areas:
            'infoHeader'
            'imageSect'
            'infoSect'
            'skillSect';
    }

    .imageSection {
        order: 2;
    }

    .infoHeader {
        order: 1;
    }
    .infoHeader h1{
        top: -50px;
    }
    .infoSection {
        order: 3;
    }
    .infoSection a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .centered-text h2{
        font-size: 20px;
    }
    .centered-text h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .centered-text p{
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    :root {
        --circle-cx: 35px; /* Adjust as needed */
        --circle-cy: 35px; /* Adjust as needed */
        --circle-r: 35px; /* Adjust as needed */
    }
    .skill-container {
        display: none;
    }

    .skill-container .card {
        width: 100px; /* Adjust width as needed */
        height: 120px; /* Adjust height as needed */
    }

    .skill-container .card .percent {
        width: 80px; /* Adjust width as needed */
        height: 80px; /* Adjust height as needed */
    }

    .skill-container .card .percent svg {
        width: 80px; /* Adjust width as needed */
        height: 80px; /* Adjust height as needed */
    }
    .left{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .contact-heading h1{
        font-size: 38px;
    }
    .btn.upload span{
        font-size: 13px;
    }
    .contact-buttons .btn{
        font-size: 13px;
    }
    .right{
        display: none;
    }
    @media (max-width: 414px){
        .portfolio input:checked + label {
            width: 70%; /* Adjust the width for smaller screens */
        }

        .portfolio input:checked + label .description {
            width: 70%; /* Adjust the width of the description for smaller screens */
        }
        .portfolio input:not(:checked) + label {
            display: none; /* Hide the cards that are not checked */
        }
        .social-icons {
            display: flex;
        }
        .left{
            grid-template-columns: 1fr;
            justify-items: center;
        }
        .left .contact-heading h1{
            font-size: 33px;
        }
        .left .btn.upload span{
            font-size: 10px;
        }
        .left .contact-buttons .btn{
            font-size: 10px;
        }
        .left .text-header-contact::after,
        .left .text-header-contact::before{
            display: none;
        }
        .right{
            display: none;
        }
    }
}

